@import url("https://fonts.googleapis.com/css?family=Open+Sans|Shadows+Into+Light");
body {
  font-family: "Open Sans", sans-serif;
  color: slategray;
  margin-top: 0;
  margin-left: 0;
}

@media only screen and (max-width: 415px) {
  body {
    font-size: 0.5em;
  }
}
header {
  margin-top: 50px;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  font-size: 3em;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 750px) {
  h2 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 415px) {
  h2 {
    font-size: 1.5em;
  }
}
.nav {
  height: 1000px;
}

@media only screen and (max-width: 415px) {
  .nav {
    height: 550px;
  }
}
.navhead {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: 4em;
  text-align: center;
  margin-block-end: 0;
}
h1:hover {
  color: mistyrose;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 415px) {
  h1 {
    font-size: 2em;
  }
}
.list {
  display: flex;
  justify-content: center;
}

.list-head {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  justify-content: center;
  padding: 0;
}

@media only screen and (max-width: 750px) {
  .list-head {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    justify-items: center;
    justify-content: center;
    padding: 0;
  }
}
@media only screen and (max-width: 415px) {
  .list-head {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.dot {
  border-radius: 50%;
  list-style-type: none;
  text-align: center;
  position: relative;
}
.dot h4 {
  position: absolute;
  width: 100%;
  top: 35%;
  z-index: 9;
  font-size: 1.5em;
  font-weight: lighter;
}

.dot-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  opacity: 0.5;
}
.dot-pic:hover {
  filter: blur(2px);
  opacity: 0.7;
}

@media only screen and (max-width: 750px) {
  .dot-pic {
    height: 200px;
    width: 200px;
    font-size: 1.25em;
  }

  .dot h4 {
    top: 35%;
    font-size: 1em;
  }
}
@media only screen and (max-width: 415px) {
  .dot-pic {
    height: 100px;
    width: 100px;
  }

  .dot h4 {
    top: 35%;
    font-size: 1em;
  }
}
.spacing {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1536236155319-1edab471917c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=741d562839fb459e0191705aa6fd9a10&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
}

.space {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid slategray;
}

@media only screen and (max-width: 415px) {
  .space {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid slategray;
  }

  .spacing {
    height: 50px;
    webkit-background-size: cover;
  }
}
/* ABOUT ME SECTION */
.about-me {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebe8e8;
}

@media only screen and (max-width: 415px) {
  .about-me {
    height: 470px;
  }
}
.pic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 750px) {
  .pic {
    border: 7px solid slategray;
    height: 200px;
    width: 200px;
  }
  .pic:hover {
    border: 7px solid mistyrose;
  }
}
@media only screen and (max-width: 415px) {
  .pic {
    border: 5px solid slategray;
    height: 100px;
    width: 100px;
  }
  .pic:hover {
    border: 5px solid mistyrose;
  }
}
.about-me-para {
  width: 400px;
  text-align: center;
}

@media only screen and (max-width: 415px) {
  .about-me-para {
    width: 200px;
  }
}
/* WORK & EDUCATION SECTION */
/* PROJECTS SECTION */
.projects {
  background-color: #ebe8e8;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-images {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-items: center;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.proj-img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 750px) {
  .project-images {
    grid-template-columns: repeat(2, 200px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .proj-img {
    border: 7px solid slategray;
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 415px) {
  .project-images {
    grid-template-columns: repeat(2, 100px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .proj-img {
    border: 5px solid slategray;
    height: 100px;
    width: 100px;
  }
}
/* CONTACT SECTION */
h3 {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
  margin: 0;
}

.contact {
  background-color: slategray;
  text-align: center;
  color: white;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

/* BACK TO TOP */
.top {
  height: 60px;
  width: 60px;
  background-color: slategray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 0.9em;
}

.back-top {
  position: fixed;
  bottom: 8%;
  left: 2%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=main.css.map */
