@import url("https://fonts.googleapis.com/css?family=Open+Sans|Tajawal");
body {
  font-family: "Open Sans", sans-serif;
  color: dimgray;
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 415px) {
  body {
    font-size: 0.5em;
  }
}
h2 {
  font-family: "Tajawal", sans-serif;
  font-size: 3em;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  h2 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 415px) {
  h2 {
    font-size: 1.5em;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: fadeInUp;
  animation-duration: 1s;
}

@keyframes header {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.nav {
  height: 1000px;
  width: 100%;
}

@media only screen and (max-width: 415px) {
  .nav {
    height: 550px;
  }
}
.intro-line {
  height: 1px;
  border-top: 3px solid dimgray;
  margin: 2em 0;
  margin-left: 25%;
  margin-right: 25%;
  animation-name: fadeInUp;
  animation-duration: 1s;
}

h1 {
  font-family: "Tajawal", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  text-align: center;
}
h1:before, h1:after {
  background-color: dimgray;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 15%;
}
h1:before {
  right: 0.5em;
  margin-left: -50%;
}
h1:after {
  left: 0.5em;
  margin-right: -50%;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 415px) {
  h1 {
    font-size: 2em;
  }
}
.list {
  display: flex;
  justify-content: center;
}

.list-head {
  padding: 0;
  display: flex;
}

@media only screen and (max-width: 750px) {
  .list-head {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    justify-items: center;
    justify-content: center;
    padding: 0;
  }
}
@media only screen and (max-width: 415px) {
  .list-head {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.dot {
  border-radius: 50%;
  list-style-type: none;
  text-align: center;
  position: relative;
}
.dot h4 {
  position: absolute;
  width: 100%;
  top: 35%;
  z-index: 9;
  font-size: 1.5em;
  font-weight: lighter;
}

.dot-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  opacity: 0.5;
}
.dot-pic:hover {
  filter: blur(2px);
  opacity: 0.7;
}

@media only screen and (max-width: 750px) {
  .dot-pic {
    height: 200px;
    width: 200px;
    font-size: 1.25em;
  }

  .dot h4 {
    top: 35%;
    font-size: 1em;
  }
}
@media only screen and (max-width: 415px) {
  .dot-pic {
    height: 100px;
    width: 100px;
  }

  .dot h4 {
    top: 35%;
    font-size: 1em;
  }
}
/* ABOUT ME SECTION */
.about-me {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebe8e8;
}

@media only screen and (max-width: 415px) {
  .about-me {
    height: 470px;
  }
}
.pic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 750px) {
  .pic {
    border: 7px solid dimgray;
    height: 200px;
    width: 200px;
  }
  .pic:hover {
    border: 7px solid mistyrose;
  }
}
@media only screen and (max-width: 415px) {
  .pic {
    border: 5px solid dimgray;
    height: 100px;
    width: 100px;
  }
  .pic:hover {
    border: 5px solid mistyrose;
  }
}
.about-me-para {
  width: 400px;
  text-align: center;
}

@media only screen and (max-width: 415px) {
  .about-me-para {
    width: 200px;
  }
}
/* WORK & EDUCATION SECTION */
/* PROJECTS SECTION */
.projects {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.project-images {
  align-self: flex-end;
  align-content: flex-end;
}

.proj-img {
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 750px) {
  .proj-img {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 415px) {
  .projects {
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  .projects h2 {
    padding-bottom: 63px;
  }

  .proj-img {
    height: 100px;
    width: 100px;
  }
}
/* CONTACT SECTION */
footer {
  background-color: slategray;
  color: white;
  height: 300px;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h2 {
  margin: 1px;
}

.social-icon {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(1, 30px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.social-icon-img {
  height: 30px;
  width: 30px;
  filter: brightness(0) invert(1);
}

.spacing {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1536236155319-1edab471917c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=741d562839fb459e0191705aa6fd9a10&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.3;
}

.space {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid slategray;
}

@media only screen and (max-width: 415px) {
  .space {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid slategray;
  }

  .spacing {
    height: 50px;
    webkit-background-size: cover;
  }
}
/* BACK TO TOP */
.top {
  height: 60px;
  width: 60px;
  background-color: #ebe8e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=main.css.map */
