/* CONTACT SECTION */
footer {
  background-color: slategray;
  color: white;
  height: 300px;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 1px;
  }
}

.social-icon {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(1, 30px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.social-icon-img {
  height: 30px;
  width: 30px;
  filter: brightness(0) invert(1);
}