/* PROJECTS SECTION */
.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: center;
}

.project-images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.proj-img {
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 770px) {
  .proj-img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 415px) {
  .proj-img {
    height: 100px;
    width: 100px;
  }
}