/* PROJECTS SECTION */
.projects {
  height: 500px;
  display: flex;
  flex-direction: column;

  // h2 {
  //   padding-bottom: 63px;
  // }
}

.project-images {
    // display: flex;
    // justify-content: center;
    align-self: flex-end;
    align-content: flex-end;
  }

.proj-img {
  // border-radius: 50%;
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 750px) {
  .proj-img {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 415px) {
  .projects {
    height: 500px;
    display: flex;
    flex-direction: column;
  
    h2 {
      padding-bottom: 63px;
    }
  }

  .proj-img {
    height: 100px;
    width: 100px;
  }
}