/* PROJECTS SECTION */
.projects {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.project-images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.proj-img {
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 770px) {
  .projects {
    height: 300px;
  }

  .proj-img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 415px) {
  .projects {
    height: 180px;
  }

  .proj-img {
    height: 100px;
    width: 100px;
  }
}